*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background:#2F394D;
}

.wrapper{
  width: 100vh;
  margin: 0 auto;
  display: grid;
  height: 100vh;
  grid-template-rows: 15px 1fr 1fr 15px;
  grid-template-columns: auto-fit, minmax(100px, 1fr);
  gap: 30px;
  
}
.item{
  background-color: #04B491;
  color: #000000;
  padding: 10px;
}

.flexchild {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: #00073D;
  
}

.resize {
  width: auto;
  hegiht: auto;
  max-width: 95%;

}

.headerfooterstyle {
  background-color: #56666B;
  padding: 0;
  height: 1em;
  text-align: center;
}

.topMenu {
  display:grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: flex-end;
}